.ratioSame {
    aspect-ratio: 1;
}

.responsiveWidth {
    width: 100%;
    max-width: calc(min(1100px, 100%));
}

.responsiveWidthSmaller {
    width: 100%;
    max-width: calc(min(800px, 100%));
}

.invisibleScrollbar {
    scrollbar-width: none;
}